## VERIFICATION REPORT LINK:
[APB_SLAVE VERIFICATION REPORT](https://docs.google.com/document/d/1ZEPdtP9eN1kerLp6f1P0fgEuZcBxU41s/edit?usp=drive_link&ouid=113766502478178390742&rtpof=true&sd=true)

## VERIFICATION PLANAR LINK:
[APB_SALVE VERIFICATION PLANAR SHEET](https://docs.google.com/spreadsheets/d/16E4lk5t2bEezWFx_QIK_M7gCvwbV9bZP/edit?usp=drive_link&ouid=113766502478178390742&rtpof=true&sd=true)
